* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #2d2d2d;
  --primary: #122e78;
  --primary-light: #3d5ba9;
  --secondary: #3b6232;
  --fill-in: #f3d7ad;
}

html {
  font-size: 62.5%;
}

a,
a:hover,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

button,
button:focus {
  outline: none;
  border: none;
  width: max-content;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.4em;
  line-height: 1.5;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  background: #fcfcfc;
}

.btn,
a.btn {
  display: inline-block;
  background: var(--primary-light);
  color: #fff;
  font-weight: 400;
  padding: 0.3rem 2.4rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1em;
  line-height: 2;
  margin-top: 1.8rem;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background: var(--primary);
}

.wrapper {
  display: block;
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4.6rem;
}

main {
  background: #fff;
  min-height: 100vh;
}
nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1.2rem 0;
  z-index: 10;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 4.6rem;
  width: auto;
}
.logo img {
  height: inherit;
  width: auto;
}
.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2.4rem;
}
.navLinks li a {
  position: relative;
  color: var(--primary);
  font-size: 1em;
  line-height: 1.2;
}
.navLinks li a:hover {
  text-decoration: underline;
}

header {
  margin-top: 4.6rem;
  position: relative;
  width: 100%;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./res/landing-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
header .headerBox {
  padding: 12.2rem 0;
  text-align: center;
}
header .title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald";
}

section {
  padding: 3.2rem 0;
}

section .sectionTitle {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 300;
  color: var(--primary);
  font-family: "Oswald";
}

footer {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.8rem 3.2rem;
  width: 100%;
  background: #e9e9e9;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 300;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 90rem;
  margin: 0 auto;
  row-gap: 1.2rem;
}
.add-recipe-form .form-control {
}

.add-recipe-form .form-control label,
.add-recipe-form .form-control input {
  display: block;
}

.add-recipe-form .form-control label {
  font-weight: 500;
}

.add-recipe-form .form-control input {
  margin-top: 0.8rem;
  padding: 0.25rem 1rem;
  font-size: 1em;
  max-width: 70rem;
}

.recipes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: flex-start;
  column-gap: 3.2rem;
  max-width: 70rem;
  margin: 8.2rem auto 0 auto;
}

.recipe-promo {
}
.recipe-promo img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
